---
---

@import "{{ site.theme }}";

header {
  display: none;
}

#main_content {
  padding-top: 50px
}

.status-box {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
